body{
    background-image: url(static/mouse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.main_div{  
    height: 510px;
    width: 420px;
    background-color: rgb(152, 170, 162);
    border-radius: 10px;
    margin: auto;
    position: static;
    box-shadow: 0 0 20px rgb(10, 10, 10);
}

#user-img{
    border-radius: 50%;
    height: 25%;
    width: 30%;
    position: relative;
    left: 35%;
    right: 35%;
    top: 3%;
    box-shadow: 0 0 20px #eee;
}

#name h2{
    font-size: 2.2em;
    color: black;
    text-align: center;
    margin-top: 25px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px rgb(216, 211, 211);
}

#about-1 p{
    font-size: 1.2em;
    position: relative;
    text-align: center;
    margin-top: -20px;
    font-family: sans-serif;
}

#about-2{
    margin: 0px 15px 0px;
}

#about-2 P{
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    border-top: 2px solid rgb(129, 129, 129);
    padding-top: 10px;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-grad {
    background-image: linear-gradient(to right, #193019 0%, #1d0f22  51%, #200903  100%)
}

.btn-grad {
   padding: 3% 3%;
   text-align: center;
   transition: 0.2s;
   background-size: 200% auto;
   color: rgb(218, 211, 211);            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border: none;
   font-size: 1.1em;
   font-family: sans-serif;
}

.btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: rgb(255, 255, 255);
   text-decoration: none;
}

#footer{
    margin-top: 6%;
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.5em;
}
#footer a{
    text-decoration: none;
    color: black;
}
#footer a i{
    border-radius: 50%;
}
#footer a i:hover{
    text-shadow: 0 0 11px rgb(255, 0, 0);
}

@media screen and (max-width: 640px) {
    .main_div{
        height: 100%;
        width: 100%;
        background-color: rgb(152, 170, 162);
        border-radius: 10px;
        margin: auto;
        box-shadow: 0 0 20px rgb(10, 10, 10);
        position: relative;
        padding: 20px;
    }
    #user-img{
        border-radius: 50%;
        height: 21%;
        width: 30%;
        position: relative;
        left: 35%;
        right: 35%;
        top: 3%;
        box-shadow: 0 0 20px #eee;
    }
    #button{
        position: relative;
        padding-left: 0%;
    }
    .btn-grad {
        padding: 3% 3%;
        text-align: center;
        transition: 0.2s;
        background-size: 200% auto;
        color: rgb(218, 211, 211);            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        border: none;
        font-size: 1.1em;
        font-family: sans-serif;
    }
}